html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*
a.username {
    color: #00aced
}

a.tag {
    color: #0084b4
}
*/

.container {
    padding: 0%;
    width: 100%;
    height: 100%;
}

.container .row {
    margin: 0%;
    height: 100%;
}

.foot {
    margin-top: 50px;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    line-height: 50px;
    background-color:rgb(196, 179, 196);
}

.btn-twit {
    color: black;
    background-color: purple;
}

.authoImage {
    display: block;
    margin-top: 18%;
    margin-left: 10%;
    width: 80%;
}

.authoTitle {
    text-align: center;
    font-weight: bold;
    margin-top: 15%;
}

.authoForm {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15px;
}

.authoSubmit {
    margin: auto;
    width: 80%;
}

.newTweetSuccess {
    margin-top: 15px;
    text-align: center;
}

.feedTitle {
    font-weight: bold;
    margin-bottom: 20px;
}

.tweetIcon {
    margin-top: 3px;
}

.tweetHead {
    width: 100%;
    margin-left: 10px;
}

.tweetHeadElement {
    display: inline;
    margin-right: 20%;
    padding-top: 5px;
}

.tweetName {
    color: black;
    font-weight: bold;
}

.tweetContent {
    margin-left: 10px;
    font-size: 16px;
}

.tweetFoot {
    width: 100%;
    margin-top: 15px;
    margin-left: 10px;
}

.tweetFootElement {
    display: inline;
    margin-right: 18%;
    padding-top: 5px;
}

.newTweetTitle {
    font-weight: bold;
}

.newTweetText {
    font-size: 18px;
}

.userIcon {
    margin-top: 20px;
    margin-left: 18%;
}

.userFollow {
    margin-top: 180px;
}

.userTitle {
    font-weight: bold;
}

.userHeadline {
    background-color: azure;
    margin: auto;
    width: 70%;
    border-radius: 10px;
}

.userInfo {
    display: inline-block;
    margin-left: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.userFollowButton {
    float: right;
    margin-right: 5%;
    margin-top: 30px;
}

.userTweets {
    margin:auto;
    width: 63%;
}

.usersTitle {
    font-weight: bold;
    margin-bottom: 20px;
}
.logo-text {
    margin-left: 5px; /* Adjust this value to add space between the image and the text */
}
