html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 0%;
    width: 100%;
    height: 100%;
}

.container .row {
    margin: 0%;
    height: 100%;
}

.foot {
    margin-top: 50px;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    line-height: 50px;
    background-color: aliceblue;
}

.btn-twit {
    color: white;
    background-color: #00aced;
}

.authoImage {
    display: block;
    margin-top: 18%;
    margin-left: 10%;
    width: 80%;
}

.authoTitle {
    text-align: center;
    font-weight: bold;
    margin-top: 15%;
}

.authoForm {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15px;
}

.authoSubmit {
    margin: auto;
    width: 80%;
}

.feedTitle {
    font-weight: bold;
    margin-bottom: 20px;
}

.tweetHead {
    width: 100%;
    margin-left: 5%;
}

.tweetHeadElement {
    display: inline;
    margin-right: 20%;
    padding-top: 5px;
}

.tweetName {
    color: black;
    font-weight: bold;
}

.tweetContent {
    margin-left: 5%;
    font-size: 16px;
}

.tweetFoot {
    width: 100%;
    margin-top: 15px;
    margin-left: 5%;
}

.tweetFootElement {
    display: inline;
    margin-right: 18%;
    padding-top: 5px;
}

.newTweetTitle {
    font-weight: bold;
}

.newTweetText {
    font-size: 18px;
}