<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <div th:fragment="navbar">
        <nav class="row navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" style="color: white; display: flex; align-items: center;">
                        <span style="margin-right: 5px;">Twitwit</span>
                        <img src="https://png.pngtree.com/png-vector/20230912/ourmid/pngtree-purple-mushroom-with-dots-png-image_10018840.png"alt="Logo" width="30" height="30">
                    </a>
                </div>
                <div id="navbar">
                    <ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
                        <li><a href="/tweets">Home</a></li>
                        <li><a href="/users">Users</a></li>
                        <li><a href="/tweets/new">New Tweet</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li sec:authorize="isAuthenticated()">
                            <a style="pointer-events: none;color:plum;">
                                @<span sec:authentication="name"></span>
                            </a>
                        </li>
                        <li sec:authorize="isAuthenticated()">
                            <a href="../logout">Logout</a>
                        </li>
                        <li sec:authorize="!isAuthenticated()">
                            <a href="../login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</body>

</html>