<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Feed</title>
    <div th:replace="fragments/styling :: headStyles"></div>
</head>

<body>
    <div class="container">
        <div th:replace="fragments/navbar"></div>
        <h2>Tweets</h2>
        <ul class="list-group" th:each="tweet:${tweetList}">
            <li class="list-group-item">
                <div>
                    <a th:href="@{/users/} + ${tweet.user.username}">
                        <h5>@<span th:text="${tweet.user.username}"></span></h5>
                    </a>
                        <small><span th:text="${#dates.format(tweet.createdAt, 'M/d/yy')}"></span></small>
                </div>
                <p th:utext="${tweet.message}"></p>
            </li>
        </ul>
    </div>
</body>
</html>