<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Feed</title>
    <div th:replace="fragments/styling :: headStyles"></div>
</head>

<body>
    <div class="container">
        <div th:replace="fragments/navbar"></div>
        <p class="userIcon"><i class="far fa-user-circle fa-10x" style="color:#00aced;"></i></p>
        <div class="userHeadline">
            <div class="userInfo">
                <h2 class="userTitle"><span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span> - <span
                    style="color: #00aced;">@</span><span style="color: #00aced;" th:text="${user.username}"></span></h2>
    
                <h5>Joined: <span th:text="${#dates.format(user.createdAt, 'M/d/yy')}"></span></h5>
            </div>
            <div class="userFollowButton">
                <form th:action="@{/follow/} + ${user.username}" th:if="${!followingStatus && !isSelfPage}" method="post">
                    <button style="float:right" type="Submit" class="btn btn-md btn-twit">Follow</button>
                </form>
                <form th:action="@{/unfollow/} + ${user.username}" th:if="${followingStatus && !isSelfPage}" method="post">
                    <button type="Submit" class="btn btn-md btn-primary unfollow_btn">Following</button>
                </form>
            </div>
        </div>    
        <div class="userTweets">
                <div th:if="${not #lists.isEmpty(tweetList)}">
                    <h3 class="feedTitle">Tweets</h3>
                    <ul class="list-group" th:each="tweet:${tweetList}">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col col-sm-2 col-md-1">
                                    <p class="tweetIcon"><i class="far fa-user-circle fa-3x" style="color:#00aced;"></i></p>
                                </div>
                                <div class="col col-sm-10 col-md-11">
                                    <div class="tweetHead">
                                        <h4>
                                            <a class="tweetName" th:href="@{/users/} + ${tweet.user.username}">
                                                <span th:text="${tweet.user.firstName}"></span>
                                                <span th:text="${tweet.user.lastName}"></span>
                                            </a>
                                            @<span th:text="${tweet.user.username}"></span> • <small><span th:text="${tweet.date}"></span></small>
                                        </h4>
                                    </div>
                                    <p class="tweetContent" th:utext="${tweet.message}"></p>
                                    <div class="tweetFoot">
                                        <p class="tweetFootElement"><i class="far fa-comment fa-lg"></i></p>
                                        <p class="tweetFootElement"><i class="fas fa-retweet fa-lg"></i></p>
                                        <p class="tweetFootElement"><i class="far fa-heart fa-lg"></i></p>
                                        <p class="tweetFootElement"><i class="fas fa-external-link-alt fa-lg"></i></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div th:if="${#lists.isEmpty(tweetList)}">
                    <h3>No Recent Tweets</h3>
                </div>
        </div>
    </div>
    <div th:replace="fragments/footer"></div>
  </body>
</html>